@media screen and (min-width: 800px) {
  /* Layout
  ----------------------------------*/
  /*MIXIN*/
  .box-shadow(@insert, @x: 0, @y: 0, @blur: 10px, @color: #666) when (@insert = false) {
    -webkit-box-shadow: @x @y @blur @color;
    -moz-box-shadow: @x @y @blur @color;
    box-shadow: @x @y @blur @color;
  }

  .border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
  }

  .transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
  }
  /*END MIXIN*/

  /*Sprite*/
  .stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
  }

  .sprite {
    background-image: url(../images/layout/spritesheet.png);    background-repeat: no-repeat;
    display: block;

    &.sprite-icon_ask_expert {
      .stitches-sprite(-5px, -5px, 39px, 39px);
    }

    &.sprite-icon_email {
      .stitches-sprite(-54px, -5px, 52px, 32px);
    }

    &.sprite-icon_phone {
      .stitches-sprite(-54px, -47px, 41px, 41px);
    }
  }
  /*end sprite*/
  .hidden-block {
    display: none;
  }

  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .header {
    background-color: #ffffff;
  }

  .wrapper-desc {
    width: /*978px;*/100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .site-top {
    height: 59px;

    .navbar-brand {
      display: inline-block;
      float: left;
      height: 39px;
      width: 45%;
      padding: 10px 0px 0px 30px;
      color: #fff;
      text-shadow: none;
      box-sizing: border-box;

      img {
        float: left;
      }

      span {
        display: block;
        float: left;
        color: #000;
        font: 0.8em 'BentonSans-Bold', sans-serif;
        padding: 1% 0 0 8%;
        position: absolute;
        text-decoration: none;
      }
    }

    .navbar-contact {
      display: inline-block;
      float:right;
      width: 26%;
      color: #000;
      margin: 1% 1% 0% 0%;
      text-align: right;
      font: 0.8em 'BentonSans-Bold', sans-serif;
      p:first-child {
        display: none;
      }
    }

    .navbar-search {
      display: none;
      float:right;
      margin-right: 50px;

      form {
        overflow: hidden;
      }

      input {
        float: left;
      }

      input[type="submit"] {
        margin: 14px 10px 0 10px;
        width: 34px;
        height: 34px;
        cursor: pointer;
        border: none;
        outline: none;
        background: url("../images/layout/search.png") no-repeat;
      }

      input[type="text"] {
        display: none;
        margin: 17px auto;
        vertical-align: middle;
      }
    }
  }

  .search {
    float: right;
    width: 20%;/*402px;*/
    height: 26px;
    margin-top: 1%;
    border-radius: 5px 5px 0 0;
  }

  .search form {
    overflow: hidden;
  }

  .search input {
    float: left;
  }

  .search input[type="text"]{
    width: 57%;
    height: 20px;
    margin-top: 5px;
    padding: 0 24px 0 1px;
    color: #000000;
    background: #d6d6d6;
    font-size: 13px;
    border: solid 0px #4E4848;
    border-radius: 5px;
    border-right: none;
    text-indent: 1.5em;
  }

  .search input[type="text"]:hover {
    .box-shadow(false,0px, 0px, 2px, #555);
  }
  /**/
  .search input:focus::-moz-placeholder {
    color: transparent;
  }
  .search input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .search input[type="submit"]{
    margin: 7px 0px 0px -20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background: url("../images/layout/search_desktop.png") no-repeat 4px 3px;
  }

  /*------------------------------------*\
      NAVIGATION
  \*------------------------------------*/
//  .button_mobile_menu {
//    position: absolute;
//    display: none;
//    float: none;
//    box-sizing: border-box;
//    text-decoration: none;
//    margin: 14px 10px 0 10px;
//    right: 0%;
//    top:0px;
//    height: 50px;
//    width: 34px;
//    background: url("../images/layout/button_menu_mobile.png") no-repeat;
//    text-align: center;
//    text-overflow: ellipsis;
//    font: normal 13px Helvetica Neue, sans-serif;
//    line-height: 36px;
//    cursor: pointer;
//  }
//  .button_mobile_menu::-moz-selection {
//    background: none;
//  }
//  .menu-mobile {
//    list-style: outside none none;
//    overflow: auto;
//    padding: 0;
//    li {
//      background: url("../images/layout/mobile-menu-background.png") repeat-x;
//      padding: 10px 0;
//      a {
//        font: bold 1.5em/21px 'BentonSans', sans-serif;
//        color: #000000;
//        padding-left: 15px;
//      }
//    }
//    li:hover {
//      text-decoration:none;
//      color: #ffffff;
//      background: none;
//      background-color: #f1ac12;
//      a {
//        color: #ffffff;
//      }
//    }
//  }
//
//  .menu-mobile ::selection {
//    background: none;
//  }
//  .menu-mobile ::-moz-selection {
//    background: none;
//  }

  .menu-mobile, #go {
    display:none;
    height: 214px;
  }
//  .st {
//    padding:0 20px 0 20px;
//    background:green;
//    cursor:pointer;
//    color:white;
//  }
//  #go:checked  ~ .menu-mobile {
//    display:none;
//    opacity: 0;
//    .transition(width, 0.9s, opacity);
////    transition: height 0.5s;
////    -o-transition: height 0.5s;
////    -moz-transition: height 0.5s;
////    -webkit-transition: height 0.5s;
//  }
  /*End menu new*/

  /*------------------------------------*\
	NAVIGATION desctop
\*------------------------------------*/
  #nav{
    background-color: white;
    border-radius: 5px;
    display: block;
    float: left;
    list-style: outside none none;
    margin: 2% 0 -10% 3%;
    text-align: center;
    width: 91%;
    .box-shadow(false,1px, 2px, 2px, #555);
  }
  #nav li{
    float:right;
    font: 400 0.8em/21px 'BentonSans-Bold', sans-serif;
    width: 20%;
    position:relative;
    display:block;
    background: url(../images/layout/vertival-line-desktop-nav.png) no-repeat left 50%;
  }
  #nav li:last-child{
    background: none;
  }
  #nav li a{
    text-decoration: none;
    padding: 17px 24px 17px 0;
    color: #000000;
    font: 1.2em 'BentonSans-Bold', sans-serif;
    display:block;
  }
  #nav li a:hover{
    color:#fff;
    background-color: #f1ac12;
    text-decoration:none;
  }
  #nav li:last-child  a:hover {
    border-radius: 5px 0 0 5px;
  }
  #nav li:first-child  a:hover {
    border-radius: 0px 5px 5px 0px;
  }

  /*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
  #nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    .transition(linear, 0.25s, opacity);
  }
  #nav ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    background-color: #000000;
    float:none;
    width: 100%;
    min-width: 202px;
  }
  #nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
  }
  #nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
    font: 400 1.25em/21px 'BentonSans', sans-serif;
    z-index: 5000;
  }
  #nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:#f1ac12;
    text-decoration:none;
  }
  #nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
  }
  #nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background-color: #ffffff;
    color: #000000;
    text-decoration:none;
    border-radius: 0px;
  }

  /*HOME*/
  .home-slide {
    padding-top: 0px;
    display: block;
    overflow: hidden;
    height: 480px;
    width: 100%;
    background: url("../images/layout/Home_top.jpg") no-repeat center;
    h1 {
      display: inline-block;
      text-decoration: none;
      height: 72px;
      max-width: 300px;
      padding: 0px 50px 0px 15px;
      margin-bottom: 3px;
      margin-left: 30px;
      background-color: #000000;
      color: white;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font: normal 34px 'BentonSans' , sans-serif;
      line-height: 72px;
    }
    h3 {
      display: block;
      margin-bottom: 15px;
      padding: 109px 29px 0px;
      max-width: 500px;
      font: 400 18px 'BentonSans-Medium', sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-shadow: 1px 1px 1px #fff, 2px 2px 2px rgba(0, 0, 0, 0.15);


    }
  }

  .home-top-content {
    overflow: hidden;
    margin-left: 30px;
    width: 30%;
    height: 145px;
    background: url("../images/layout/home-top-content.png") repeat;
    h3 {
      margin: 4% 0 0 8%;
      padding: 0;
      font: 400 1.25em 'BentonSans-Medium', sans-serif;
    }
    h3:before {
      height: 22px;
      width: 22px;
      content: " ";
      text-shadow: none;
      margin: -12px -23px;
      position: absolute;
      background: url("../images/layout/triangle-home-top-content.png") no-repeat;
    }
    p {
      margin: 4% 0 0 8%;
      font: normal 0.8em 'BentonSans', sans-serif;
    }
  }
  .home-content {
    display: inline-block;
    width: 100%;
    margin-bottom: 0%;
    font: normal 24px 'BentonSans' , sans-serif;
    h2 {
      margin: 7% 0 0 6%;
      font: 0.8em 'BentonSans-Bold' , sans-serif;
    }
    p {
      margin: 1% 0 0 6%;
      font: 0.6em 'BentonSans' , sans-serif;
    }
  }
  .home-content-content {
    display: inline-block;
    width: 50%;
    min-height: 200px;
    overflow: hidden;
  }
  .home-content-signature {
    display: inline-block;
    min-height: 200px;
    width: 49%;
    overflow: hidden;

    p:first-child {
      padding-top: 7%;
      font: italic 0.9em 'BentonSans-Medium' , sans-serif;
    }
    p:first-child:before {
        height: 29px;
        width: 48px;
        content: " ";
        text-shadow: none;
        margin: -12px -26px;
        position: absolute;
        background: url("../images/layout/kov_1_desktop.png") no-repeat ;
    }
    p:first-child:after{
      height: 29px;
      width: 48px;
      content: " ";
      text-shadow: none;
      position: absolute;
      background: url("../images/layout/kov_2_desktop.png") no-repeat ;
    }
    p {
      margin: 3% 10% 1% 15%;
      font: 0.6em 'BentonSans-Medium' , sans-serif;
      letter-spacing: 0px;
      color: #494949;
    }
  }
  .benefits-slider {
    margin-bottom: 1%;
  }

  #bxslider {
    width: 100%;
    li{
      display: inline-block;
      overflow: hidden;
      padding: 2% 4%;
      text-align: center;
      width: 24%;

      img {
        margin: 0 auto;
      }
      h1{
        text-align: left;
        font: 1.5em 'BentonSans-Bold' , sans-serif;
        margin-bottom: 8%;

      }
      p{
        text-align: left;
        font: 0.9em 'BentonSans' , sans-serif;

      }
      a{
        display: none;
      }
    }
  }


  /*END HOME*/
  .programs {
    background: url("../images/layout/program-desktop.jpg") no-repeat top center;
    margin-bottom: 4%;
    text-align: center;
  }

  .program {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 24%;
    min-width: 290px;
    margin: 3% 2% 0;
    background-color: #ffffff;
  }

  .program-header {
    overflow: hidden;
  }

  .program-wrapper {
    margin: 0% 6%;

  }

  .program-header {
    h2 {
      margin: 6% 0% 10% 0%;
      color: #000000;
      font: 900 1.9em "BentonSans-Bold",sans-serif;
      span {
        display: block;
        font: 400 1.1em "BentonSans",sans-serif;
      }
    }
    h1 {
      margin: 0 0% 3% 0%;
      color: #f0ab00;
      font: 900 1.5em "BentonSans-Bold",sans-serif;
      span {
        font: 400 1.0em "BentonSans",sans-serif;
        margin-left: 3% ;
      }
    }
    p {
      font: 400 1.0em "BentonSans",sans-serif;
      margin: 0 12% 4% 4%;
    }
  }

  .program-content {
    background-color: #000000;
    overflow: hidden;
    h1 {
      margin: 0 0% 3% 0%;
      padding-top: 5%;
      color: #f0ab00;
      font: 900 1.5em "BentonSans-Bold",sans-serif;
      span {
        font: 400 1.1em "BentonSans",sans-serif;
        margin-left: 3% ;
      }
    }
    p {
      font: 400 1.0em "BentonSans",sans-serif;
      color: #ffffff;
      margin: 0 12% 4% 4%;
    }
  }

  .programs .program-join {
    display: block;
    a {
      font: 400 1.0em/2em "BentonSans-Bold",sans-serif;
      color: #ffffff;
      background-color: #00a1e4;
      color: #ffffff;
      height: 45px;
      line-height: 45px;
      left: 43%;
      position: absolute;
      text-align: center;
      top: 97%;
      vertical-align: middle;
      width: 62%;
      border-radius: 5px;
      &:hover {
        color: #000000;
      }
      span {
        font: 900 1.8em "SD_Helveticons",sans-serif;
        margin-left: 3%;
      }
    }
  }

  .partners {
    clear: both;
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 0px; //60
  }

  .partner-header {
    h1 {
      font: 400 2.2em "BentonSans",sans-serif;
      margin: 5% 1% 3%;
    }
  }
  .tabs {
    min-height: 500px;  //850
    position: relative;
    text-align: center;
    clear: both;
    .tab {
      display: inline-block;
      margin-top: 1%;
      left: 523px;
    label {
      background: #ffffff;
      padding: 14px 27px 14px 27px;
      font: 400 1.0em "BentonSans-Medium",sans-serif;
      margin-left: 9px;
      position: relative;
      cursor: pointer;
    }
    [type=radio] {
      display: none;
    }

      .content {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: 428px;
        background-color: #f1f1f1;
        p {
          margin-top: 3%;
        }
      }

      [type=radio]:checked ~ label {
        background: #f0ab00;
        color: #ffffff;
        font: 400 1.0em "BentonSans-Medium",sans-serif;
        z-index: 2;
      }

      [type=radio]:checked ~ label ~ .content {
        z-index: 1;
      }

    }
  }

  .partner-slider {
    display: none;
    height: 694px;
    background-color: #ffffff;
    background: url("../images/layout/fon_partners_slider.jpg") no-repeat center;
    text-align: center;
  }

  .partner-slider-desktop {
    display: block;
    text-align: center;
  }

  .partner-slider-wrapper {
    margin: 0 auto;
    padding-bottom: 44px;
    padding-top: 44px; /*72px*/
    background-color: white;
    position: relative;
    text-align: left;
    width: 100%; /*480px;*/
    background-color: #f1f1f1;
  }

  .bxslider-inner-wrapper {
    height: 340px;
    width: 222px;
    margin: 0 0px;
    overflow: hidden;
  }

  .partner-slider-desktop-img {
    height: 150px;
    overflow: hidden;
  }

  .partner-slider-footer {
    width: 100%;
  }

  .partner-footer {
    height: 500px;
    width: 100%;
    background-color: beige;
  }

  /*menu test*/
  nav[role="navigation"] {
    width: 108px;
    height: 100px;
    display: inline-block;
    margin: 7% 0 -6% 0%;

  }

  nav[role="navigation"] a {
    display: block;
    font-size: 25px;
    color: #00a1e4;
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    line-height: 35px;
    font-family: 'bentonsans-bold', sans-serif;
    unicode-bidi:bidi-override;
    direction:rtl;
  }

  nav[role="navigation"] a:first-letter {
    color:#00A1E4;
    font: 400 25px "sd_helveticons",sans-serif;
  }

  nav[role="navigation"] li {
    width: 100%;
    height: auto;
    text-align: center;
    background: #bdc3c7;
    border: 1px solid #fff;
    padding: 10px 0;
  }

  .toggle {
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .icon_quote {
    position: absolute;
    margin: 10% 19% 0% 10%;
    display: inline-block;
    height: 22px;
    width: 25px;
    background: url("../images/layout/spritesheet_slider.png") no-repeat -5px -61px;
  }

  .icon_video {
    position: absolute;
    margin: 9% 2% 0% 27%;
    display: inline-block;
    height: 22px;
    width: 23px;
    background: url("../images/layout/spritesheet_slider.png") no-repeat -120px -5px;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 27px solid #FFF;
    display: none;
    margin-top: 17px;
  }

  .partner-content {
    clear: both;
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 0px;
    margin-top: -7px;
  }

  .partner-content .message {
    float: left;
    height: 290px;
    width: 50%;
    margin-bottom: 20px;
    background-color: #ffffff;
    h2 {
      margin: 7% 15% 5% 15%;
      font: 400 1.9em "BentonSans",sans-serif;
    }
    h3 {
      margin: 0% 15% 1% 15%;
      font: 400 1.3em "BentonSans-Bold",sans-serif;
    }
    p {
      font: 400 1.0em "BentonSans",sans-serif;
      margin: 0px 15%;
      text-align: justify;
    }
  }
  .partner-content .video-content {
    float: right;
    height: 290px;
    width: 50%;
    margin-bottom: 20px;
    background-color: #ffffff;
    .video {
      width: 100%;
      height: auto;
    }
  }

  .lightbox-template {
    display: block;
    float: left;
    width: 90%;
    padding: 0% 5%;
    margin: 15px 0px 60px;
  }

  .wrapper-pic {
    text-align: center;
    width: 100%;
  }

  .pic {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0px 5px 0px 0px;
    border: 3px solid white;
    .box-shadow(false,5px, 5px, 5px, #111);
    border-radius: 12px;
  }

  .pin:last-child {
    margin: 0px;
  }
  .lightbox-template .example-image {
    border: 3px solid white;
    border-radius: 7px;
    height: 200px;
    width: 200px;
    .transition(all, 0.8s, ease);
  }
  .lightbox-template .example-image:hover {
    height: 240px;
    width: 240px;
  }

  /*Validation form*/

  .validation-form {
    float: left;
    display: block;
    width: 90%;
    padding: 0% 5%;
    margin-bottom: 50px;
    h1 {
      margin-bottom: 5%;
    }
  }

  .form-left {
    float: left;
    width: 49%;
  }

  .form-right {
    float: right;
    width: 49%;
  }

  .form-name{
    display: inline-block;
    float: left;
    width: 100%;
  }

  .form-message {
    clear: both;
  }

  .form-name input, .form-message textarea, .form-name select {
    width: 96%;
    height: 35px;
    margin-bottom: 5%;
    padding: 10px;
    font: 400 18px/1 Titillium Web,sans-serif;
    color: #FFF;
    background: #273A71 none repeat scroll 0% 0%;
    border: 0px none;
    border-radius: 3px;
  }

  .form-name select {
    height: 54px;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .form-name,.form-message label {
    font: italic 400 18px Titillium Web,sans-serif;
    color: #808080;
  }

  .form-message textarea{
    margin: 0px 0px 25px 0px;
    width: 98%; /*840px;*/
    min-height: 180px;
    resize: vertical;
  }

  .form-name input:hover, .form-email input:hover, .form-message textarea:hover{
    box-shadow: 0px 0px 2px 2px #ec952a inset;
  }

  .form-message textarea:focus, .form-name input:focus, .form-email input:focus{
    background:#343D83;
    box-shadow:none;
  }

  .form-submit {
    text-align: center;
  }

  .form-submit input{
    margin: 0 auto 1%;
    background-color: #00a1e4;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font: 400 24px/40px Titillium Web,sans-serif;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    cursor: pointer;
    opacity: 0.9;
  }

  .form-submit input:hover{
    opacity: 1;
    color: #000000;
  }

  #name-error,#email-error,#pass-error,#msg-error {
    position: absolute;
    color: red;
    margin-top: -20px;
  }

  .error {
    position: absolute;
    color: red;
    margin-top: -27px;
  }
  /*end valadation form*/

  .already-partner {
    display: inline-block;
    width: 100%;
    margin-bottom: 3%;
  }

  .already-partner .header {
    display: inline-block;
    float: left;
    width: 26%;
    h2 {
      margin: 0% 0% 5% 13%;
      color: #000000;
      text-align: left;
      font: 900 1.9em "BentonSans-Bold",sans-serif;
    }
    h2:before {
      height: 98px;
      width: 20px;
      content: " ";
      text-shadow: none;
      margin: -1% 0% 0% -3%;
      position: absolute;
      background: url("../images/layout/already-partners-yellow-line.png") no-repeat ;
    }
    p {
      margin: 0 16% 7% 15%;
      text-align: left;
      font: 24px "BentonSans",sans-serif;
    }
  }

  .already-partner .program-join {
    display: inline-block;
    float: right;
    margin: 0 1%;
    position: relative;
    width: 30%;
    h2 {
      font-size: 30px;
    }
    a {
      background-color: #00a1e4;
      border-radius: 5px;
      color: #ffffff;
      display: block;
      font: 400 1em/3em "BentonSans-Bold",sans-serif;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      &:hover {
        color: #000000;
      }
      span {
        font: 900 1.8em "SD_Helveticons", sans-serif;
        margin-left: 3%;
      }
    }
  }

  .already-partner .content {
    display: inline-block;
    float: left;
    margin: 0 2%;
    text-align: left;
    width: 30%;
  }

  .contact-bar {
    width: 100%;
    display: inline-block;
    font: 400 18px "BentonSans-Bold", sans-serif;
    border-top: 1px solid #CCC;
    h3 {
      font: 400 18px "BentonSans-Bold", sans-serif;
    }
    @width-block: 33%;
    .phone {
      display: inline-block;
      float: left;
      height: 100px;
      width: @width-block;
//      border-top: 1px solid  #cccccc;
      border-right: 1px solid  #cccccc;
      h3 {
        margin: 6% 0% 0% 30%;
      }
      p {
        margin: 0% 0% 0% 30%;
        font: 400 0.9em "BentonSans", sans-serif;
      }
      a {
        display: block;
        font: 400 18px "BentonSans-Bold", sans-serif;
        color: #000000;
        margin: 6% 0% 0% 30%;
      }
      a:hover {
        text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
      }
    }
    .phone:before {
      height: 41px;
      width: 41px;
      content: " ";
      text-shadow: none;
      margin: 2% 3%;
      position: absolute;
      background: url("../images/layout/spritesheet.png") no-repeat -54px -47px;
    }
    .email {
      display: none;
      width: 30%;
    }
    .email:before {
      height: 32px;
      width: 52px;
      content: " ";
      text-shadow: none;
      margin: -2% 0 0 -25%;
      position: absolute;
      background: url("../images/layout/spritesheet.png") no-repeat -54px -5px;
    }

    .ask-sap {
      float: left;
      display: inline-block;
      height: 100px;
      width: @width-block;
//      border-top: 1px solid  #cccccc;
      border-right: 1px solid  #cccccc;
      h3 {
        margin: 6% 0% 0% 30%;
      }
      p {
        margin: 0% 0% 0% 30%;
        font: 400 0.9em "BentonSans", sans-serif;
      }
      a {
        display: block;
        margin: 6% 0% 0% 30%;
        color: #000000;
      }
      a:hover {
        text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
      }
    }
    .ask-sap:before {
      height: 32px;
      width: 52px;
      content: " ";
      text-shadow: none;
      margin: 2% 2%;
      position: absolute;
      background: url("../images/layout/spritesheet.png") no-repeat -54px -5px;
    }

    .ask-expert {
      float: right;
      display: inline-block;
      height: 100px;
      width: @width-block;
//      border-top: 1px solid  #cccccc;
      h3 {
        margin: 6% 0% 0% 30%;
      }
      p {
        margin: 0% 0% 0% 30%;
        font: 400 0.9em "BentonSans", sans-serif;
      }
      a {
        display: block;
        margin: 6% 0% 0% 30%;
        color: #000000;
      }
      a:hover {
        text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
      }
    }
    .ask-expert:before {
      height: 39px;
      width: 39px;
      content: " ";
      text-shadow: none;
      margin: 2% 3%;
      position: absolute;
      background: url("../images/layout/spritesheet.png") no-repeat -5px -5px;
    }
  }

  .footer {
//    background: #000000;
    width: 100%;
    height: 80px;
  }

  .logo {
    background: #000000;
    a {
      color: #00a1e4;
      font: 400 22px "BentonSans",sans-serif;
      margin: 23px 9%;
      position: absolute;
      text-decoration: underline;
    }
    a:hover {
      color: #006893;
    }
  }

  .logo_link {
    margin: 3% 0% 3% 0%;
  }

  .nav-footer {
    background-color: black;
    height: 80px;
    line-height: 80px;
//    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .nav-footer li {
    display: inline-block;
    padding: 0px 5px 1% 10px;
    font: 1em 'bentonsans-medium', sans-serif;
    background: url(../images/layout/vertival-line-footer-nav.png) no-repeat left 26%;
  }

  .nav-footer li:first-child {
    background: none;
  }

  .nav-footer a {
    text-decoration: none;
    padding: 2px 1px;
    color: #ffffff;
  }

  .nav-footer a:hover {
    border-radius: 5px 5px 5px 5px;
    background-color: #568cbc;
  }
}