@font-face {
    font-family: 'BentonSans';
    src: url('../fonts/BentonSans-Regular.eot');
    src: url('../fonts/BentonSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/BentonSans-Regular.ttf') format('truetype'),
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueCyr-Roman.otf") format("opentype"),
    src: url("../fonts/HelveticaNeueCyr-Roman.eot"); /* EOT file for IE */
    src: local('☺'),
    url('../fonts/HelveticaNeueCyr-Roman.eot?') format('embedded-opentype'),
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: "HelveticaM";
    src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}
* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px "BentonSans", sans-serif;
}

img {
    border: 0;
}

a {
    color: #0ebaf2;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #c60101;
}

a:visited {
    /*color: #c60101;*/
}

ul li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    vertical-align: top;
}

input, textarea, select, button {
    font: normal 14px BentonSans, sans-serif;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

aside, nav, footer, header, section {
    display: block
}

/* Button
----------------------------------*/
.button {
    display: inline-block;
    float: none;
    text-decoration: none;
    height: 36px;
    min-width: 127px;
    max-width: 300px;
    padding: 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #9b9c9c;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    font: normal 13px Helvetica Neue, sans-serif;
    line-height: 36px;
}

.button:hover {
    opacity: 0.75;
}
/*End Button*/

/*Menu responce*/
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav-responce {
    list-style: none;
    *zoom: 1;
    background:#175e4c;
}
.nav-responce:before,
.nav-responce:after {
    content: " ";
    display: table;
}
.nav-responce:after {
    clear: both;
}
.nav-responce ul {
    list-style: none;
    width: 9em;
}
.nav-responce a {
    padding: 10px 15px;
    color:#fff;
}
.nav-responce li {
    position: relative;
}
.nav-responce > li {
    float: left;
    border-top: 1px solid #104336;
}
.nav-responce > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav-responce > li > a {
    display: block;
}
.nav-responce li  ul {
    position: absolute;
    left: -9999px;
}
.nav-responce > li.hover > ul {
    left: 0;
}
.nav-responce li li.hover ul {
    left: 100%;
    top: 0;
}
.nav-responce li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav-responce li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
/*end menu responce*/
/* меню */
.nav {
    margin: 20px 0;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    margin: 0 5px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    *display:inline; /* ie7 */
}
.nav a {
    /*padding: 3px 12px;*/
    text-decoration: none;
    color: #999;
    line-height: 100%;
}
.nav a:hover {
    color: #ffffff;
    background-color: #f2aa0d;
}

@media screen and (max-width: 800px) {
    .active {
        display: block;
    }
    .nav-responce > li {
        float: none;
    }
    .nav-responce > li > .parent {
        background-position: 95% 50%;
    }
    .nav-responce li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav-responce ul {
        display: block;
        width: 100%;
    }
    .nav-responce > li.hover > ul , .nav-responce li li.hover ul {
        position: static;
    }


    .nav {
        display: none;
        position: absolute;
        min-height: 40px;
        width: 300px;
        margin-left: 0px;
    }
    .nav ul {
        /*width: 100%;*/
        width: 180px;
        min-height: 40px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav li {
        display: none; /* скрыть все <li> пункты */
        margin: 0;
    }
    .nav a {
        display: block;
        /*background: #333333;*/
        padding: 5px 5px 5px 32px;
        text-align: left;
    }


    /* при наведении на пункты меню */
    .nav ul:hover {
        background-color: #fefefd;
        background-image: none;
        margin-top: 50px;
    }
    .nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }

    .nal li a:hover {
        background-color: yellow;
    }

    /* адаптивное меню справа */
    .nav.right ul {
        left: auto;
        right: 0;
    }

    /* адаптивное меню по центру */
    .nav.center ul {
        left: 50%;
        margin-left: -90px;
    }

}

/* Layout
----------------------------------*/
.wrapper {
    width: 100%;
    overflow: hidden;
}

.header {
    background-color: #ffffff;
}

.site-top {
    height: 59px;
}

.site-top .navbar-brand{
    display: inline-block;
    float: left;
    height: 39px;
    width: 50%;
    padding: 10px 0px 0px 30px;
    color: #fff;
    text-shadow: none;
    box-sizing: border-box;
}

.navbar-brand img {
    float: left;
}

.navbar-brand span {
    display: none;
    float: left;
    color: #000;
    padding-top: 2%;
    text-decoration: none;
}

.navbar-contact {
    display: inline-block;
    float:right;
    color: #000;
    margin: 19px 10px 0 10px;
    font: 600 19px BentonSans, sans-serif;
}

.navbar-search {
    display: inline-block;
    float:right;
}

.navbar-search form {
    overflow: hidden;
}

.navbar-search input {
    float: left;
}

.navbar-search input[type="submit"]{
    margin: 14px 10px 0 10px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: none;
    outline: none;
    background: url("../images/layout/search.png") no-repeat;
}

.navbar-search input[type="text"]{
    display: none;
    margin: 17px auto;
    vertical-align: middle;
}

.navbar-mobile-menu {
    display: inline-block;
    float: right;
}

.button_mobile_menu{
    display: inline-block;
    float: none;
    box-sizing: border-box;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url("../images/layout/button_menu_mobile.png") no-repeat;
    margin: 14px 10px 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    font: normal 13px Helvetica Neue, sans-serif;
    line-height: 36px;
}

.button_mobile_menu > a:hover .sub-menu /*div*/{
    /*display: block;*/
    opacity: 1;
}

.main_menu_item a{
    height: 34px;
    width: 34px;
    background: url("../images/layout/button_menu_mobile.png") no-repeat;
}

.main-menu {
    float: right;
    margin-right: 35px;
    width: 34px;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    color: #000000;
    text-decoration: none;
}

.main-menu a:hover {
    opacity: 0.7;
    color: #ffffff;
}

.main-menu > li {
    position: relative;
}



/*222....*/
/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/
#sub-menu2{
    float: right;
    width: 55px;
    padding: 0;
    list-style: none;
}
#sub-menu2 li{
    float:right;
    font: 400 1.0em/21px BentonSans, sans-serif;
    padding: 5px 5px 0px 2px;
    position:relative;
    display:block;
}
#sub-menu2 li a{
    text-decoration: none;
    padding: 7px 19px;
    color: #e8e8e8;
    display:block;
}
#sub-menu2 li a:hover{
    column-rule: black;
    text-decoration:none;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#sub-menu2 ul{
    list-style:none;
    position:fixed;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#sub-menu2 ul li{
    padding-top:0px;  /*Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню*/
    float:none;
}
#sub-menu2 ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
    width: 767px;
}
#sub-menu2 li:hover ul{  /*Выводим выпадающий пункт при наведении курсора*/
    float: left;
    left: 0px;
    opacity:1;  Делаем непрозрачным
    font: 400 1.25em BentonSans, sans-serif;
    z-index: 5000;
    -webkit-transition:-webkit-transform 1.0s linear;
}

#sub-menu2 li:hover .home-slide {
    padding-top: 150px;
}

#sub-menu2 li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    text-decoration:none;
    color: #000000;
    background-color: #ffffff;
}

#sub-menu2 li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
}

#sub-menu2 li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    text-decoration:none;
    background-color: #f2aa0d;
    color: #ffffff;
}
/*end navigation*/

.sub-menu {
    /*display:none;*/
    opacity: 0;
    float: left;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: relative; /*fixed*/
    box-sizing: border-box;
    top: 50px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}

.sub-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    color: #000000;
    text-decoration: none;
}

.sub-menu a:hover {
    opacity: 0.7;
    color: #ffffff;
}


/* Cелектор для подменю, если навести мышь */
/* на родительский элемент верхнего меню */

.main-menu > li:hover .sub-menu{
    /*display:block;*/
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
}

.main-menu > li:hover .home-slide {
    padding-top: 150px;
}

.sub-menu li:hover {
    background-color: #f2aa0d;
    color: #ffffff;
}

/*HOME*/

.home-slide {
    padding-top: 0px;
    display: block;
    height: 563px;
    width: 100%;
    background: url("../images/layout/Home_top.jpg") no-repeat center;
}

.home-slide h3 {
    margin-bottom: 15px;
    padding: 34px 29px 0px;
    max-width: 500px;
    font: 400 26px BentonSans, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-slide .headering {
    display: inline-block;
    text-decoration: none;
    height: 60px;
    max-width: 300px;
    padding: 0px 50px 0px 15px;
    margin-bottom: 6px;
    margin-left: 30px;
    background-color: #000000;
    color: white;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: normal 34px BentonSans , sans-serif;
    line-height: 60px;
}

.home-top-content {
    overflow: hidden;
    margin-left: 30px;
    width: 254px;
    height: 230px;
    background: url("../images/layout/home-top-content.png") repeat;
    /*background-color: #ffffff;*/
}

.home-top-content p {
    margin: 27px;
    font: normal 25px BentonSans , sans-serif
}

.home-content {
    display: block;
    height: 450px;
    width: 100%;
    font: normal 25px BentonSans , sans-serif
}

.home-content h2 {
    margin: 62px 0px 0px 35px;
    font: bold 32px BentonSans , sans-serif
}

.home-content p {
    margin: 10px 75px 82px 34px;
}

.home-content-signature {
    height: 191px;
    background: url("../images/layout/home-content-signature.png") no-repeat center;
}

.home-content-signature p:first-child {
    padding-top: 43px;
}

.home-content-signature p {
    margin: 3% 10% 1% 20%;;
    font: italic 22px BentonSans , sans-serif;
    letter-spacing: 0px;
    color: #aaa9a9;
}

.benefits-slider {
    margin: 0 auto;
    height: 750px;
}

.program {
    height: 1577px;/*100%;*/
    background: url("../images/layout/program.jpg") no-repeat center;
}

/*END HOME*/

/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/
#nav{
    display: block;
    float:left;
    /*width: 61%;*/
    list-style:none;
    margin: 2% 0% 0% 0%;
    text-align: center;
}
#nav li{
    float:right;
    font: 400 0.8em/21px Helvetica Neue, sans-serif;
    padding: 5px 5px 0px 2px;
    position:relative;
    display:block;
}
#nav li a{
    text-decoration: none;
    padding: 7px 19px;
    color: #e8e8e8;
    /*background-color: #2f2f2f;*/
    display:block;

    text-shadow:1px 1px 1px #87509c; /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
#nav li a:hover{
    color:#fff;
    background-color: #2f2f2f ;
    border-radius: 5px 5px 0px 5px;
    background:rgba(47,47,47,0.75);  /*ыглядит полупрозрачным*/
    text-decoration:none;
    /*transform: scale(1.5);*/
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
    font: 400 1.25em/21px Helvetica Neue, sans-serif;
    z-index: 5000;
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:#2f2f2f;
    background:rgba(47,47,47,0.75);  /*Выглядит полупрозрачным*/
    text-decoration:none;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background: #da1eec;
    background:rgba(51,51,51,0.75);  /*Будет полупрозрачным*/
    text-decoration:none;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}
/*end navigation*/

.nav2{
    display: block;
    height: 220px;
    margin: 0px 10px 0px 15px;
    float:left;
    text-align: left;
    background: url("../images/layout/magnetic_tool2.png") no-repeat 40% 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;  
    opacity: 0;  
    transition: 500ms;
}
.nav2 li{
    /*opacity: 0;*/
    float:left;
    width: 50px;
    font: 400 0.725em/21px Helvetica Neue, sans-serif;
    position:relative;
    display:block;
    margin-top: 120px;
}
.nav2 li a{
    display:block;
    text-decoration: none;
    padding: 7px 15px;
    color: #000000;
    display:block;
    text-shadow:1px 1px 1px #87509c; /* Тень текста, чтобы приподнять его на немного */
}






